<% include partials/header %>
<style>
  html{
    zoom: 125%;
  }
</style>
      <main>
        <div id="introduction" class="section scrollspy">
          <div class="container">
            <div class="row center">
              <div class="col s12 light center header">
                <div id="about" class="sub-section">
                  <h4 class="header center-on-small-only"
                  style="font-weight:bold;"
                 >About Website</h4>
                  <div class="col-sm-9 jumbotron"
                     style="background-color:#eee;
                     padding: 5px;
                     padding-left: 60px;
                     padding-right: 60px;
                     margin-top: 50px;
                     "                     >
                  <p style="font-family: 'Lato', 'sans-serif';
                  font-size: 21px;
                  font-weight: 200;">Thanks for visiting at the website.This website is made using Node.js,
                      the Express.js framework, Materialize CSS, and the EJS Template System.
                      This include the work experience and practical work links.
                      Site Deployment is done using Github and Azure.
                      </p>
                    </div>
                  <br><br>
                
                </div>
                <div class="fixed-action-btn vertical" style="bottom: 50px; right: 24px;">
                    <a class="btn-floating btn-large red">
                      <i class="fa fa-edit"></i>
                    </a>
                    <ul>
                      <li><a href="#" class="btn-floating red" target="_blank"><i class="fa fa-video-camera"></i></a></li>
                      <li><a href="#" class="btn-floating fb-blue"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#" class="btn-floating black"><i class="fa fa-github"></i></a></li>
                      <li><a href="#" class="btn-floating blue"><i class="fa fa-skype"></i></a></li>
                      <li><a href="#" class="btn-floating fb-blue"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#" class="btn-floating green"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
          <% include partials/footer %>